In [2]:
import sqlite3
import pandas as pd

In [5]:
con = sqlite3.connect('soccer/database.sqlite')

In [42]:
players = pd.read_sql('select * from player', con)
match = pd.read_sql('select * from match', con)
teams = pd.read_sql('select * from Team', con)

In [43]:
teams.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [13]:
pd.options.display.max_columns = None

In [16]:
match.iloc[10000:10001, :]

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
10000,10001,7809,7809,2015/2016,14,2015-11-28 00:00:00,2002215,9904,8234,4,0,1.0,2.0,4.0,6.0,8.0,4.0,6.0,3.0,5.0,7.0,5.0,1.0,2.0,4.0,6.0,8.0,3.0,5.0,7.0,3.0,5.0,7.0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,8.0,8.0,8.0,11.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,10.0,10.0,10.0,41087.0,303913.0,78908.0,25483.0,80229.0,36186.0,240367.0,204169.0,27314.0,469763.0,69008.0,42909.0,36380.0,27550.0,145536.0,555385.0,167008.0,34675.0,239946.0,171091.0,150292.0,185014.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><event_incident_typefk>743</ev...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>50</comment><stats...,2.6,3.2,2.8,2.65,3.1,2.7,2.5,3.3,2.65,2.62,3.1,2.75,2.75,3.22,2.89,2.7,3.1,2.7,NaN,NaN,NaN,2.7,3.25,2.88,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
players.query('player_api_id == 303913')

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
8112,8124,303913,Oliver Sorg,201016,1990-05-29 00:00:00,175.26,152

In [21]:
players.query('player_api_id == 41087.0')

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
9197,9211,41087,Ron-Robert Zieler,186148,1989-02-12 00:00:00,187.96,183

In [24]:
mdf = match.loc[:,['home_team_api_id', 'home_player_1']]

In [29]:
import numpy as np

In [33]:
players.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [34]:
mdf[np.logical_not(mdf.home_player_1.isna())].head()

     home_team_api_id  home_player_1
144              9996        39890.0
145              8203        38327.0
146              9986        95597.0
148              9994        30934.0
149              8342        37990.0

In [35]:
tcdf = mdf[np.logical_not(mdf.home_player_1.isna())]

In [45]:
tcdf.merge(players, left_on = 'home_player_1', right_on = 'player_api_id').merge(teams, left_on='home_team_api_id', right_on = 'team_api_id')

,home_team_api_id,home_player_1,id_x,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id_y,team_api_id,team_fifa_api_id,team_long_name,team_short_name
0,9996,39890.0,6893,39890,Mark Volders,155841,1977-04-13 00:00:00,187.96,183,16,9996,111560.0,Royal Excel Mouscron,MOU
1,9996,148308.0,10105,148308,Sven De Volder,188318,1990-03-09 00:00:00,182.88,179,16,9996,111560.0,Royal Excel Mouscron,MOU
2,9996,148308.0,10105,148308,Sven De Volder,188318,1990-03-09 00:00:00,182.88,179,16,9996,111560.0,Royal Excel Mouscron,MOU
3,9996,148308.0,10105,148308,Sven De Volder,188318,1990-03-09 00:00:00,182.88,179,16,9996,111560.0,Royal Excel Mouscron,MOU
4,9996,148308.0,10105,148308,Sven De Volder,188318,1990-03-09 00:00:00,182.88,179,16,9996,111560.0,Royal Excel Mouscron,MOU
5,9996,148308.0,10105,148308,Sven De Volder,188318,1990-03-09 00:00:00,182.88,179,16,9996,111560.0,Royal Excel Mouscron,MOU
6,9997,39890.0,6893,39890,Mark Volders,155841,1977-04-13 00:00:00,187.96,183,614,9997,680.0,Sint-Truidense VV,STT
7,9997,39890.0,6893,39890,Mark Volders,155841,1977-04-13 00:00:00,187.96,183,614,9997,680.0,Sint-Truidense VV,STT
8,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
9,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
10,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
11,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
12,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
13,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
14,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
15,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
16,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
17,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
18,9997,37937.0,2466,37937,Davino Verhulst,138026,1987-11-25 00:00:00,193.04,198,614,9997,680.0,Sint-Truidense VV,STT
19,9997,38341.0,11001,38341,Yves De Winter,177815,1987-05-25 00:00:00,187.96,181,614,9997,680.0,Sint-Truidense VV,STT
20,9997,37868.0,9805,37868,Simon Mignolet,173426,1988-08-06 00:00:00,193.04,192,614,9997,680.0,Sint-Truidense VV,STT
21,9997,37868.0,9805,37868,Simon Mignolet,173426,1988-08-06 00:00:00,193.04,192,614,9997,680.0,Sint-Truidense VV,STT
22,9997,37868.0,9805,37868,Simon Mignolet,173426,1988-08-06 00:00:00,193.04,192,614,9997,680.0,Sint-Truidense VV,STT
23,9997,37868.0,9805,37868,Simon Mignolet,173426,1988-08-06 00:00:00,193.04,192,614,9997,680.0,Sint-Truidense VV,STT
24,9997,37868.0,9805,37868,Simon Mignolet,173426,1988-08-06 00:00:00,193.04,192,614,9997,680.0,Sint-Truidense VV,STT
25,9997,37868.0,9805,37868,Simon Mignolet,173426,1988-08-06 00:00:00,193.04,192,614,9997,680.0,Sint-Truidense VV,STT
26,9997,37868.0,9805,37868,Simon Mignolet,173426,1988-08-06 00:00:00,193.04,192,614,9997,680.0,Sint-Truidense VV,STT
27,9997,37868.0,9805,37868,Simon Mignolet,173426,1988-08-06 00:00:00,193.04,192,614,9997,680.0,Sint-Truidense VV,STT
28,9997,37868.0,9805,37868,Simon Mignolet,173426,1988-08-06 00:00:00,193.04,192,614,9997,680.0,Sint-Truidense VV,STT
29,9997,37868.0,9805,37868,Simon Mignolet,173426,1988-08-06 00:00:00,193.04,192,614,9997,680.0,Sint-Truidense VV,STT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24725,10190,42113.0,3785,42113,Germano Vailati,142532,1980-08-30 00:00:00,185.42,185,49479,10190,898.0,FC St. Gallen,GAL
24726,10190,42113.0,3785,42113,Germano Vailati,142532,1980-08-30 00:00:00,185.42,185,49479,10190,898.0,FC St. Gallen,GAL
24727,10190,42113.0,3785,42113,Germano Vailati,142532,1980-08-30 00:00:00,185.42,185,49479,10190,898.0,FC St. Gallen,GAL
24728,10190,42113.0,3785,42113,Germano Vailati,142532,1980-08-30 00:00:00,185.42,185,49479,10190,898.0,FC St. Gallen,GAL
24729,10190,42113.0,3785,42113,Germano Vailati,142532,1980-08-30 00:00:00,185.42,185,49479,10190,898.0,FC St. Gallen,GAL
24730,10190,42113.0,3785,42113,Germano Vailati,142532,1980-08-30 00:00:00,185.42,185,49479,10190,898.0,FC St. Gallen,GAL
24731,10190,42113.0,3785,42113,Germano Vailati,142532,1980-08-30 00:00:00,185.42,185,49479,10190,898.0,FC St. Gallen,GAL
24732,10190,42113.0,3785,42113,Germano Vailati,142532,1980-08-30 00:00:00,185.42,185,49479,10190,898.0,FC St. Gallen,GAL
24733,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24734,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24735,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24736,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24737,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24738,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24739,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24740,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24741,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24742,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24743,10190,25779.0,6618,25779,Marcel Herzog,144055,1980-06-28 00:00:00,185.42,174,49479,10190,898.0,FC St. Gallen,GAL
24744,7896,41975.0,436,41975,Alex Valentini,178054,1988-04-05 00:00:00,185.42,176,51606,7896,NaN,Lugano,LUG
24745,7896,41975.0,436,41975,Alex Valentini,178054,1988-04-05 00:00:00,185.42,176,51606,7896,NaN,Lugano,LUG
24746,7896,41975.0,436,41975,Alex Valentini,178054,1988-04-05 00:00:00,185.42,176,51606,7896,NaN,Lugano,LUG
24747,7896,41975.0,436,41975,Alex Valentini,178054,1988-04-05 00:00:00,185.42,176,51606,7896,NaN,Lugano,LUG
24748,7896,41975.0,436,41975,Alex Valentini,178054,1988-04-05 00:00:00,185.42,176,51606,7896,NaN,Lugano,LUG
24749,7896,330458.0,7609,330458,Mirko Salvi,209332,1994-02-14 00:00:00,187.96,176,51606,7896,NaN,Lugano,LUG
24750,7896,330458.0,7609,330458,Mirko Salvi,209332,1994-02-14 00:00:00,187.96,176,51606,7896,NaN,Lugano,LUG
24751,7896,330458.0,7609,330458,Mirko Salvi,209332,1994-02-14 00:00:00,187.96,176,51606,7896,NaN,Lugano,LUG
24752,7896,330458.0,7609,330458,Mirko Salvi,209332,1994-02-14 00:00:00,187.96,176,51606,7896,NaN,Lugano,LUG
24753,7896,330458.0,7609,330458,Mirko Salvi,209332,1994-02-14 00:00:00,187.96,176,51606,7896,NaN,Lugano,LUG
24754,7896,330458.0,7609,330458,Mirko Salvi,209332,1994-02-14 00:00:00,187.96,176,51606,7896,NaN,Lugano,LUG